{% extends "base.html" %}

{% block body %}
<h2> {{username}} Dashboard</h2>

<h3>Balance: {{ balance }}</h3>
<p>Income: {{ income }}</p>
<p>Expense: {{ expense }}</p>

<hr>

<h3>{{ "Edit Transaction" if edit_txn else "Add Transaction" }}</h3>

<form action="{{ url_for('update_transaction') if edit_txn else url_for('add_transaction') }}" method="post">

    {% if edit_txn %}
    <input type="hidden" name="id" value="{{ edit_txn.id }}">
    {% endif %}

    <input name="title" placeholder="Title"
           value="{{ edit_txn.title if edit_txn else '' }}" required>

    <input name="amount" placeholder="Amount" type="number" step="0.01"
           value="{{ edit_txn.amount if edit_txn else '' }}" required>

    <select name="type">
        <option value="income" {% if edit_txn and edit_txn.type=='income' %}selected{% endif %}>Income</option>
        <option value="expense" {% if edit_txn and edit_txn.type=='expense' %}selected{% endif %}>Expense</option>
    </select>

    <input name="category" placeholder="e.g Foods, clothes, etc"
           value="{{ edit_txn.category if edit_txn else '' }}">

    <button type="submit">
        {{ "Update" if edit_txn else "Add" }}
    </button>
</form>
<form method="GET" action="{{ url_for('filter') }}">
    <label for="search_term">Filter by Title: </label>
    <input type="text" id="search_term" name="search_term" placeholder="Enter title">
    <button type="submit">Filter</button>
</form>

<hr>

<h3>Transactions</h3>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Category</th>
        <th>Action</th>
    </tr>

    {% for t in transactions %}
    <tr>
        <td>{{ t.title }}</td>
        <td>{{ t.amount }}</td>
        <td>{{ t.type }}</td>
        <td>{{ t.category }}</td>
        <td>
            <!-- Edit -->
            <form action="{{ url_for('edit_transaction', transaction_id=t.id) }}" method="get" style="display:inline;">
                <button type="submit">Edit</button>
            </form>

            <!-- Delete -->
            <form action="{{ url_for('del_transaction', transaction_id=t.id) }}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>

<a href="{{ url_for('logout') }}">Logout</a>

{% endblock %}